@font-face {
  font-family: 'Filson Pro';
  src: local(''),
       url('../fonts/FilsonPro-Bold-759790.woff2') format('woff2'),
       url('../fonts/FilsonPro-Bold-ce7d2c.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}