:root {
  --blue: #b5d1cc;
  --brown: #371722;
  --red: #d81c36;
  --yellow: #f5b111;

  --blue-light: #f4f9f8;
  --yellow-dark: #b9850a;
  --yellow-light: #f8e8c2;
  
  --grey-700: #d7d6d6;
  --grey-800: #e1e0e0;
  --grey-900: #f4f4f4;

  --body-color: hsla(0, 0, 27, 1);
  --body-color-light: hsla(0, 3%, 46%, 0.8);
  --body-color-lighter: hsla(0, 0%, 95%, 0.8);
  --primary-color: var(--red);
  --primary-color-dark: var(--brown);
  --header-height: 58px;
  --bg: white;
  --bg-secondary: var(--blue);
  --bg-transparent: rgba(255, 255, 255, .9);
  --bg-teritary: #f7f9f8;
  --dark-bg: #0d2538;
  --code-bg: #0e2233;
  --select-color: rgba(212, 53, 159, .2);
  --inline-code-text: #b32585;
  --inline-code-bg: rgba(212, 53, 159, .03);
  --border-color: var(--blue);
  --border-color-darker: #cfe6e6;
  --mark-color: #fff8ec;
  --border-radius: 5px;
  --success-bg: #5bb19640;
  --space: 25px;
  --space-x2: 50px;
  --code-color: #fdf9f3;
  --glow: 2px 2px 15px 0 var(--border-color);

  @media screen and (max-width: 550px) {
    --space: 20px;
    --space-x2: 20px;
  }

  [data-theme="dark"] {
    --body-color: #ebf4f1;
    --bg: #091a28;
    --bg-secondary: #071521;
    --bg-teritary: #0e2233;
    --bg-transparent: #091a28E1;
    --border-color: #0d2538;
    --border-color-darker: #0d2538;
    --inline-code-text: #e24cb2;
    --inline-code-bg: rgba(212, 53, 159, .1);
    --primary-color: #00835c;
    --primary-color-dark: #00a672;
    --glow: 2px 2px 15px 0 #071521;
  }

  [data-theme="sepia"] {
    --body-color: #433422;
    --bg: #f1e7d0;
    --dark-bg: #111;
    --code-bg: #222;
    --bg-transparent: #f1e7d0E1;
    --bg-secondary: #eae0c9;
    --bg-teritary: #eadec2;
    --border-color: #ded0bf;
    --border-color-darker: #ccbca9;
    --glow: 2px 2px 15px 0 #ccbca9;
  }
}