:root {
  --blue: #b5d1cc;
  --brown: #371722;
  --red: #d81c36;
  --yellow: #f5b111;

  --blue-100: #f4f9f8;
  --blue-200: #e1edeb;
  --blue-300: #dbeae7;
  --blue-400: #c4dfda;
  --blue-500: var(--blue);
  --blue-600: #94b5af;
  --blue-700: #4f847a;
  --blue-800: #1a3d37;
  --blue-900: #0c1f1b;

  --blue-700-rgb: 79, 132, 122;
  --blue-900-rgb: 26, 61, 55;

  --red-200: #ffd0d6;
  --red-100: #f599a5;
  --red-300: #e96778;
  --red-400: #e04459;
  --red-500: var(--red);
  --red-600: #bb1027;
  --red-700: #9b071b;
  --red-800: #850516;
  --red-900: #5a000c;

  --yellow-dark: #b9850a;
  --yellow-light: #f8e8c2;
  
  --grey-100: #f4f4f4;
  --grey-200: #e1e0e0;
  --grey-300: #d7d6d6;

  --body-color: var(--blue-900);
  --body-link-color: var(--red-400);
  --inline-code-bg: rgba(var(--blue-900-rgb),.1);
  --code-block-bg: var(--blue-900);

  --danger-color: #8f68a8;

  --monospace-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  --reliably-cli-green: #42c731;
  --reliably-cli-purple: #e34ce2;
  --reliably-cli-red: #d5482f;

  // --body-color: hsla(0, 0, 27, 1);
  
  --body-color-light: #444;
  --body-color-lighter: hsla(0, 0%, 95%, 0.8);
  --primary-color: var(--red);
  --primary-color-dark: var(--brown);
  --header-height: 58px;
  --bg: white;
  --bg-secondary: var(--blue);
  --bg-transparent: rgba(255, 255, 255, .9);
  --bg-teritary: #f7f9f8;
  --dark-bg: #0d2538;
  --code-bg: #0e2233;
  --select-color: rgba(212, 53, 159, .2);
  --inline-code-text: #b32585;
  // --inline-code-bg: rgba(212, 53, 159, .03);
  --border-color: var(--blue);
  --border-color-darker: #cfe6e6;
  --mark-color: #fff8ec;
  --border-radius: 5px;
  --success-bg: #5bb19640;
  --space: 25px;
  --space-x2: 50px;
  --code-color: #fdf9f3;
  --glow: 2px 2px 15px 0 var(--border-color);

}