// This styles are made for linting and should trigger when something is wrong.

// Styling internal links without a trailing slash
a:not([href$="/"]) {
  // But not links to an anchor in to the page
  &:not([href*="#"]) {
    background-color: #bd9ad4 !important;
    border: 3px solid #960af5 !important;
  }

}

// Styling broken images
img {
  &::before { 
    content: " ";
  
    top: -10px;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    padding: 1em;
  
    width: 100%;
    
    background-color: rgb(230, 230, 230);
    border: 2px dotted var(--red);
    border-radius: 5px;
  }
  
  &::after { 
    content: "(This image seems to be missing)";
  
    position: absolute;
    bottom: 5px;
    left: 0;
  
    display: block;
    width: 100%;
  
    color: rgb(100, 100, 100);
    font-size: .8em;
    font-style: normal;
    text-align: center;
  }
}