html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  color: var(--body-color);
  font-display: swap;
  font-family: 'Filson Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

.agrandir {
  font-family: 'Agrandir', sans-serif;
  font-weight: 700;
  letter-spacing: .02em;
  &--light {
    font-weight: 300;
  }
}

.post {
  h1, h2, h3, h4, h5, h6 {
    color: var(--brown);
  }
  h1, h4, h5, h6 {
    a {
      display: none;
    }
  }
  h1, h2, h3 {
    a {
      float: left;
      position: relative;
      top: .12em;

      margin-left: -1.2em;
      width: .8em;

      background: none;
      box-shadow: none;
      opacity: 0;
      
      color: var(--primary-color);
      font-size: .85em;
      text-align: center;
      text-decoration: none;
      width: .8em;
    }
    &:hover {
      a {
        opacity: 1;
      }
    }
  }

  h1 {    
    font-size: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 1em;
    padding-top: .9em;

    font-size: 1.375em;
  }

  a {
    color: var(--red);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}