.admonition {
  border: none;
  border-radius: var(--border-radius);
  // box-shadow: 0 .3rem 1.2rem rgba(0, 0, 0, .32);

  .admonition-icon {
    svg {
      fill: var(--body-color);
      stroke: var(--body-color);
    }
  }

  h5 {
    color: var(--body-color);
  }

  &-important {
    background-color: var(--blue-500);
  }

  &-tip {
    background-color: rgb(204, 235, 204);
  }

  &-note {
    background-color: var(--yellow);
  }

  &-warning,
  &-danger {
    color: white;

    .admonition-icon {
      svg {
        fill: white;
        stroke: white;
      }
    }

    .admonition-heading {
      h5 {
        color: white;
      }
    }

    a {
      color: var(--yellow);
    }
  }

  &-warning {
    background-color: var(--red-500);
  }

  &-danger {
    background-color: var(--danger-color);

    color: white;
  }
}