.admonition {
  border: none;
  border-radius: var(--border-radius);
  // box-shadow: 0 .3rem 1.2rem rgba(0, 0, 0, .32);

  .admonition-icon {
    svg {
      fill: var(--body-color);
      stroke: var(--body-color);
    }
  }

  h5 {
    color: var(--body-color);
  }

  &-important {
    background-color: var(--blue-700);

    color: var(--text-color-dark);

    .admonition-icon {
      svg {
        fill: var(--text-color-dark);
        stroke: var(--text-color-dark);
      }
    }

    .admonition-heading {
      h5 {
        color: var(--text-color-dark);
      }
    }

    a {
      color: var(--yellow-500);
    }
  }

  &-tip {
    background-color: var(--blue-300);
  }

  &-note {
    background-color: var(--blue-200);
  }

  &-warning {
    background-color: var(--red-100);

    color: var(--red-700);

    .admonition-icon {
      svg {
        fill: var(--red-700);
        stroke: var(--red-700);
      }
    }

    .admonition-heading {
      h5 {
        color: var(--red-700);
      }
    }

    a {
      color: var(--yellow-600);
    }
  }

  &-danger {
    background-color: var(--red-600);

    color: white;

    .admonition-icon {
      svg {
        fill: white;
        stroke: white;
      }
    }

    .admonition-heading {
      h5 {
        color: white;
      }
    }

    a {
      color: var(--yellow-400);
    }
  }
}