:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--code-block-bg);
  scrollbar-color: rgba(255,255,255,.3) var(--code-block-bg);

  &::-webkit-scrollbar {
    height: .8em;
    width: .8em;

    background-color: var(--code-block-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.3);
    border: 0  .2em .2em solid var(--code-block-bg);
    border-radius: .3em;
  }
}

pre[class*="language-"] {
  margin: 1em 0 0;
}

// Reliably CLI output specific styles
:not(pre) > code[class*="language-reliably"],
pre[class*="language-reliably"] {
  .token {
    &.blue {
      color: var(--reliably-cli-blue);
    }
    &.green {
      color: var(--reliably-cli-green);
    }
    &.purple {
      color: var(--reliably-cli-purple);
    }
    &.red {
      color: var(--reliably-cli-red);
    }
    &.yellow {
      color: var(--reliably-cli-yellow);
    }
    &.bold {
      font-weight: 700;
    }
    &.greyed {
      opacity: .5;
    }
    &.emoji {
      font-size: 1.2em;
      line-height: .9;
    }
  }
}