.sidebar {
  .menu-item {
    margin: 1.5rem 0 .7rem;
    padding-top: 2rem;
    
    // border-top: 1px solid var(--border-color);
    cursor: pointer;

    font-size: 1em;
    font-weight: 400;
	  // text-transform: uppercase;
    letter-spacing: 1px;
    
    &.active {
      font-weight: 700;
      svg {
        transform: rotate(90deg);
      }
    }

    &:first-child {
      border-top: 0;
    }

    svg {
      vertical-align: -.2rem;
    }

    .count {
      display: inline-block;
      margin-left: .5em;
      padding: 0 .75em;

      background-color: var(--body-color-lighter);
      border-radius: 1rem;

      color: var(--body-color-light);
      font-size: .75em;
      font-weight: 400;
    }
  }

  .menu-link {
    display: block;
    margin: 0 0 0 .7rem;
    padding: 1rem 0 1rem 1.5rem;

    border-left: 1px solid currentColor;
    opacity: 1;

    color: currentColor;
    // font-size: .95rem;
    font-weight: 400;
    text-decoration: none;
    
    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &.active--exact {
      color: var(--primary-color)
    }

    &.active--exact {
      position: relative;

      // padding-left: 1.2rem;

      outline-width: 1px;

      font-weight: 700;
    }

    // &.active::before {
    //   content: "";

    //   position: absolute;
    //   top: 50%;
    //   left: -1px;

    //   height: .8rem;
    //   width: .8rem;
    //   margin-top: -.3rem;
      
    //   background-color: var(--primary-color);
    //   border-radius: 50%;
      
    //   animation: scaleIn .7s forwards;
    // }
  }

  .menu-item {
    &--sub {
      position: relative;

      margin: 0;

      cursor: pointer;

      font-weight: 400;

      &:hover {
        color: var(--primary-color)
      }

      &::after {
        content: "";

        position: absolute;
        top: .2em;
        right: 0;

        display: block;
        height: 1em;
        width: 1em;

        background-color: currentColor;
        mask-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z\"/></svg>");

        transform: rotate(0);
        transition: all .2s ease-in-out;
      }

      & + .menu-item--submenu {
        display: none;
        margin-left: 1em;
      }
      &.open {
        &::after {
          transform: rotate(90deg);
        }
        + .menu-item--submenu {
          display: block;
        }
      }
    }
  }
  
  .submenu {
    margin: 0;
    padding: 0;

    list-style: none;
    opacity: 1;

    font-size: 1.4rem;

    &__item-depth-2 {
      margin-bottom: 0;
      padding: .4em 0;

      border-top: 1px dashed var(--border-color);

      font-size: .95em;
      
      transition: border-color .3s;
    }

    &__item-depth-3 {
      margin-top: -.4em;
      margin-bottom: 0;
      padding: .2em .4em;

      opacity: .8;

      font-size: .95em;
    }

    &__link {
      color: currentColor;
      text-decoration: none;

      &:hover {
        color: var(--primary-color)
      }
    }
  }
}