section.doc-content {
  padding: 8.5rem 4rem;
  @media screen and (max-width: 1229px) {
    width: 100%;
  }

  .docs-nav {
    display: flex;
    justify-content: space-between;
    padding-top: var(--space);
    padding-bottom: var(--space);

    border-top: 1px solid var(--border-color);

    &__link {
      border: 1px solid var(--border-color);
    }
  }
}