html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: relative;

  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--space);
  max-width: 160rem;
  width: 100%;
}

.doc-content {
	padding: calc(2% + var(--space)) 0;
  padding-left: 80px;
	position: relative;
	width: 100%;
	flex: 1;
}