html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: relative;

  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--space);
  max-width: 150rem;
  width: 100%;
}

.doc-content {
	position: relative;
	width: 100%;
	flex: 1;
}